
	@font-face {
	  font-family: '_Helvetica';
	  src: url('fonts/Helvetica CE Regular.ttf') format('truetype');
	}
		
        body {
            font-family: "_Helvetica", sans-serif;
            font-size: 15px;
        }
        
        ul {
            list-style-type: square;
        }
		
		li[class*="L"]{
			word-wrap : break-word;
		}
		
        ol {
            padding: 0;
        }
        
        li {
            padding-top: 10px;
			text-align: justify;
        }
        
        pre {
            margin: 0;
        }
        
		#leftbar .headingGroup a:nth-child(1):not([name]) {
			color: #D80000;
			padding-bottom: 6px;
			color: #D80000;
			padding-bottom: 6px;
			font-variant : normal;
			font-size: 16px;
		}
		
        table[style*="width: 100%;"] tr:nth-child(odd) {
            background-color: #EEE;
        }
        
        table[style*="width: 100%;"] th {
            line-height: 2em;
        }
		
		table[style*="width: 100%;"] td:nth-child(1){
			font-weight: 595;
			 font-style: italic;
		}
        
        h2 {
            text-align: right;
            font-size: 21px;
            font-weight: normal;
            font-variant: small-caps;
            color: #D80000;
        }
        
        h3 {
            font-size: 17px;
            font-weight: normal;
            font-variant: small-caps;
            color: #D80000;
        }
        
        .wrapper {
            margin: 0 auto;
            max-width: 1150px;
			width: 100%;
        }
        /* Header */
        
        h1.heading {
            color: black;
        }
        /* Content */
        
        #content {
            border-radius: 10px;
            margin: 0 auto;
            position: relative;
            max-width: 1150px;
			width: 100%;
        }
        
        #leftbar {
            float: left;
			font-family: '_Helvetica', sans-serif, Arial;
            padding: 5px 15px 15px 15px;
            position : fixed;
			margin-top: 100px;
            top: 0;
			max-width: 240px;
            width: 15%;
        }
        
        #leftbar a {
            color: #0066FF;
        }
        
        .headingGroup {
            color: #D80000;
            font-size: 16px;
            font-variant: normal;
            /* margin: 15px 0 3px 0; */
			line-height: 2em;
        }
		
		.headingGroup a {
		
			display : block;
		}
        
        #rightbar {
            border-radius: 0 10px 10px 0;
            float: right;
            padding: 15px;
			width: 100%;
			padding-left: 270px;
			box-sizing: border-box;
        }
        
        .firstHeading {
            margin-top: 0;
            margin-bottom: 0;
            float: right;
        }
        
        .good,
        .bad {
            font-family: "Courier New";
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .good {
            background-color: #DFD;
            color: #006633;
            padding-left: 8px;
            width: 755px;
        }
        
        .bad {
            background-color: #FDD;
            color: #880000;
            padding-left: 8px;
            width: 755px;
        }
        /* Footer */
        
        #footer {
            background-color: #858585;
            color: #E5E5E5;
            font-size: 9pt;
            margin-top: 30px;
            padding: 15px;
        }
        
        #footer a {
            color: #E5E5E5;
        }
        
        #contact {
            float: right;
        }
        
        #copyright {
            float: left;
            line-height: 20px;
        }
        
        .hr {
            border: 1px solid #D80000;
            color: #D80000;
            background-color: #D80000;
            clear: both;
        }
        
        .bits {
            color: #006633;
        }
        
        body {
            margin: 0;
        }
    